
 <h2>Compenent header</h2>
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul id="nav">
       <li><a href="#" title="aller à la section 1">Politique</a></li>
       <li><a href="#" title="aller à la section 2">Culture</a></li>
       <li><a href="#" title="aller à la section 3">Economie</a></li>
       <li><a href="#" title="aller à la section 4">Histoire</a></li>
       <li><a href="#" title="aller à la section 5">Geographie</a></li>
       <li><a routerLink = "/login" title="aller à la section 6">Registre</a></li>

     </ul>
   </div>  
 </nav>
 <br>
 
 
<h1>Mes Directives</h1>

<h4>Choisisssez votre couleur</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">  Green
  <input type="radio" name="colors" (click)="color='yellow'">  Yellow
  <input type="radio" name="colors" (click)="color='cyan'">  Cyan
</div>
<p [appHighlight]="color">je m'éclaire !!</p>
<p [appHighlight]="color" defaultColor="violet"> Je m'éclare moi aussi!!!!!!!!!</p>
<app-economie></app-economie>
<app-geographie></app-geographie>
<app-culture></app-culture>
<app-histoire></app-histoire>
<app-politique></app-politique>


