
<div class="col-md-6 offset-3" style="margin-top: 60px;">
  <div class="login-wrapper">
    <h2>Page de connexion</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label for="username">Login</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="model.username" #username="ngModel" placeholder='Saisissez votre identifiant' required />
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" placeholder='Saisissez votre mot de passe' required />
      </div>
      <div class="form-group">
        <button class="btn btn-primary pull-right" [disabled]="!f.form.valid">Connexion</button>
      </div>

      
    </form>

    <div class="container">

      <h1>Connecté vous à votre compte</h1>
      
      <button class="btn btn-sucess" (click)="logingoogle()">Connexion avec Google</button>
      
      </div> 
  </div>
</div>
