
    <h2>Compenent Politique</h2>
    <footer>
      
      <div> 
        <h4> pouvez aussi nous contacter sur ce numero : 33 333 33 33</h4>
        <h4>Oubien je suis disponible sur Watchapp: 77 777 77 77</h4>
        <h4> Si  vous voulez que je vous aide laissez-vous vous message ici : <a href="#" >Email</a></h4>
      </div>
    </footer>
