<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Ajouter Utilisateur</h1>
  <p class="custom-text">A demo CRUD app for <strong>user record management system</strong> built with <strong>Angular7
  and Firebase5</strong></p>
  </div>
  
  <form [formGroup]="userForm" (ngSubmit)="submitUserData()" novalidate>
  <div class="row">
  <div class="col-lg-5 col-md-12 col-sm-12">
  <div class="row">
  <div class="col-md-12 mb-3">
    <label>First name</label>
    <input type="text" formControlName="firstName" class="form-control" required>
    <!-- Showing errors using getter method -->
    <p *ngIf="firstName.touched && firstName.invalid" class="error"><sup>*</sup>Please enter atleast first name</p>
    <p *ngIf="firstName.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
    </div>
    <div class="col-md-12 mb-3">
    <label>Last name</label>
    <input type="text" formControlName="lastName" class="form-control">
    </div>
    </div>
  <div class="form-group text-right">
  <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
  <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Add User</button>
  </div>
  </div>
  </div>
  </form>