<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Users List</h1>
  
  <a routerLink="/register-user" class="btn btn-success" *ngIf="hideWhenNoUser">
  <i class="fas fa-plus custom-fa-plus"></i>
  Add User
  </a>
  </div>
  <div class="pricing-header mx-auto">
  
  <div class="no-data text-center" *ngIf="preLoader">
  <img src="assets/preloader.gif" class="preloader-icon" alt="No user">
  </div>
  
  <div class="no-data text-center" *ngIf="noData">
  <img src="assets/no-user.svg" class="nodata-msg" alt="No user">
  <p class="nodata-msg">No user added yet!</p>
  <a routerLink="/register-user" class="btn btn-success">
  <i class="fas fa-plus custom-fa-plus"></i>
  Add User
  </a>
  </div>
  
  <div class="table-responsive" *ngIf="hideWhenNoUser">
  <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
  <thead>
  <tr>
  <th scope="col">User Id</th>
  <th scope="col">First Name </th>
  <th scope="col">Last Name </th>
  </tr>
  </thead>
  <tbody>
  
    <tr *ngFor="let student of User | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
      <th scope="row">{{user.$key}}</th>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td class="text-center action-block">
      <!-- routerLink="/edit-student/{{student.$key}}" is refered to { path: 'edit-student/:id', component: EditStudentComponent } in app-routing.moudles.ts -->
      <i class="far fa-edit" routerLink="/edit-user/{{user.$key}}"></i>
      <i class="far fa-trash-alt" (click)="deleteUser(user)"></i></td>
      </tr>
  </tbody>
  </table>
  </div>
  
  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit User Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
    <!-- goBack() methos to back to previous component -->
    <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
    <!-- Student's Edit Form -->
    <form [formGroup]="editForm" (ngSubmit)="updateForm()" novalidate>
    <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
    <div class="row">
    <div class="col-md-12 mb-3">
    <label> First Name</label>
    <input type="text" formControlName="firstName" class="form-control" required>
    <p *ngIf="firstName.touched && password.invalid" class="error">
    <sup>*</sup>Please enter first Name
    </p>
    <p *ngIf="firstName.errors?.minlength" class="error">
    <sup>*</sup>Name shouldn't be less than 2 words
    </p>
    </div>
    <div class="col-md-12 mb-3">
    <label>Last Name</label>
    <input type="lastName" formControlName="lastName" class="form-control">
    </div>
    </div>
    
    <div class="form-group text-right">
    <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid">
    Update User
    </button>
    </div>
    </div>
    </div>
    </form>
    
    </div>
    </div>
    </div>